* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px; 
    background-color: rgb(30, 30, 30);
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);
  }
  
  .instagram-wrapper {
    background-color: ;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
  }
  
  .instagram-phone {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 50%;
  }
  
  .instagram-phone img {
    height: 45rem;

  }
  
  .instagram-continue{
    display: flex;
    align-items: center; /* horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    
}
  .group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      background-color: rgb(45, 45, 45);
      width: 100%;
      padding: 1.3rem 0;
      border-radius: 2%;
      border: 1px solid lightgray;
}

#change-account{
  margin-top: 4%;
  border-radius: 3%; 
  background-color: rgb(45, 45, 45);
}

.group:nth-child(1) {
  min-height: 20rem;
}

.instagram-logo {
  background-color: rgb(45, 45, 45);
  height: 3rem;
}


.profile-photo{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow:hidden
}

.user {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(45, 45, 45);
  align-items: center;
  justify-content: center;
  align-items: center;
}
#user {
  background-color: rgb(52, 52, 52);
  border-radius: 4px;
  color: #ffffff; 
  min-width: 200px;
  height: 30px;
}

.password{
  margin-top: 2%;
  background-color: rgb(52, 52, 52);
  margin-bottom: 5%;
}

#password {
  background-color: rgb(52, 52, 52);
  border-radius: 4px;
  color: #ffffff;
  min-width: 200px;
  height: 30px;
}

.profile-photo img {
  height: 6rem;
}

.instagram-login{
  margin-bottom: 1%;
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.instagram-logout{
  margin-top: 2%;
  background-color: rgb(45, 45, 45);
  color: #0095f6;
  }

  .not-account {
    background-color: rgb(45, 45, 45);
    color: #e3e3e3;
  }

  .link-blue {
    background-color: rgb(45, 45, 45);
    color: #0095f6;
    margin-top: 8%;
}

.get-app {
  color: #e3e3e3;
}

.get-the-app {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  margin-top: 4%;
  height: 40.5px;
  width: 136px;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url("./img/apple-store-button.png");
}

.app-download:nth-child(2) {
  background-image: url("./img/google-play-button.png");
}

/* media queries */


@media (max-width: 1024px) {
  .instagram-wrapper{
    width: 90%;
   }
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }

  .instagram-wrapper {
    width: 90%;
  }

  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;

  }

  .group {
    border: 1px solid transparent;
  }
}